.container {
  padding: 16px 0;
  color: rgba(22, 24, 35, 0.75);
  font-family: 'ProximaNova', Arial, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background: #f0f0f1;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.title {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}
.empty-hint {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  padding: 0px 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 0 1 auto;
  height: 32px;
}

.account {
  font-family: 'SofiaPro', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 22px;
  margin-top: -2px;
}

.name {
  font-size: 1.2rem;
  font-weight: 400;
  color: #161823bf;
  line-height: 15px;
}
.check {
  color: rgb(32, 213, 236);
  margin-left: 4px;
  margin-bottom: 3px;
  width: 14px;
  height: 14px;
}

//See all text
.more-wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 8px;
  margin-top: 8px;
  cursor: pointer;
}
.more-text {
  color: var(--primary);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}

//Preview
.preview-container {
  width: 320px;
  position: relative;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  border-radius: 8px;
}
.preview-heading {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}
.preview-avatar {
  width: 44px;
  height: 44px;
  flex: 0 0 44px;
  border-radius: 50%;
  object-fit: cover;
}
.follow-btn {
  border: none;
}
.preview-nickname {
  font-family: var(--font-SophiaPro);
  height: 2.5rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 0px;
}
.preview-fullname {
  font-family: var(--font-family);
  height: 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 0px;
}
.user-stats-text {
  font-weight: 700;
  margin-right: 6px;
  font-size: 17px;
  line-height: 20px;
  display: inline-block;
}
.user-stats-desc {
  color: rgba(22, 24, 35, 0.75);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  &:not(:last-of-type) {
    margin-right: 12px;
  }
}
